<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Q010_1016_NonSquareNumber/src/nonSquareNumber/NonSquareNumber.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="nonSquareNumber.NonSquareNumber"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Q010_1016_NonSquareNumber"/>
</launchConfiguration>
