<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Q003_LCDDisplay/src/lcdDisplay/LCDDisplay.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="lcdDisplay.LCDDisplay"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Q003_LCDDisplay"/>
</launchConfiguration>
